<!DOCTYPE html>
<html>
  <head>
    <title>Image Filter</title>
  </head>
  <body>
    <h1>Image Filter</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input type="file" name="file"><br><br>
      <label for="filter">Filter:</label>
      <select name="filter">
        <option value="BLUR">Blur</option>
        <option value="CONTOUR">Contour</option>
        <option value="DETAIL">Detail</option>
        <option value="EDGE_ENHANCE">Edge Enhance</option>
        <option value="EMBOSS">Emboss</option>
        <option value="FIND_EDGES">Find Edges</option>
        <option value="SHARPEN">Sharpen</option>
        <option value="SMOOTH">Smooth</option>
      </select><br><br>
      <input type="submit" value="Filter">
    </form>
  </body>
</html>





{% comment %} <!doctype html>
<html>
  <head>
    <title>Image Upload Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Image Upload Form</h1>
    <form action="{{ url_for('image_controller.upload') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <input type="submit" value="Upload">
    </form>
  </body>
</html> {% endcomment %}
